<%- include("partials/header"); -%>
    <h1>compose</h1>
    <form class="" action="/compose" method="post">
        <div class="form-group col-xs-8" style="margin:40px">
            <label>Title</label>
            <input class="form-control" type="text" placeholder="type" name="title">
            <label>Post</label>
            <textarea class="form-control" name="post" > </textarea>
         
            <button type="submit" class="btn btn-success" style="margin-top: 6px;">SUBMIT</button>
    
    
        </div>
    
    </form>
    <%- include("partials/footer"); -%>
    












